<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.checkin.mapper.IBedMapper">

	<resultMap id="BedResultMap" type="Bed">
		<id property="id" column="bedid" />
		<result property="roomId" column="roomid" />
	</resultMap>

	<insert id="insert" parameterType="Bed">
		insert into bed
		(bedid, roomid)
		values
		(#{id}, #{roomId})
	</insert>

	<update id="update" parameterType="Bed">
		update bed set
		roomid = #{roomId}
		where bedid=#{id}
	</update>

	<delete id="delete" parameterType="Bed">
		delete from bed where bedid=#{id}
	</delete>

	<select id="selectByAll" resultMap="BedResultMap">
		select * from bed
	</select>

	<select id="selectById" resultMap="BedResultMap">
		select * from bed
		where
		bedid=#{id}
	</select>

	<select id="selectByAllWithPage" resultMap="BedResultMap">
		select * from bed
		limit #{start}, #{rows}
	</select>
	
	<select id="selectCountByAll" resultType="_int">
		select count(*) from bed
	</select>
	
</mapper>