<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.checkin.mapper.IElderlyMapper">
	<!-- 老人查询基础映射，不包含关联属性 -->
	<resultMap id="ElderlyResultMap" type="Elderly">
		<id property="elderlyid" column="elderlyid" />
		<result property="eldername" column="eldername" />
		<result property="eldersex" column="eldersex" />
		<result property="elderage" column="elderage" />
		<result property="floor" column="floor" />
		<result property="room" column="room" />
		<result property="bed" column="bed" />

	</resultMap>

	<insert id="insert" parameterType="Elderly">
		insert into elderly
		(elderlyid, eldername, eldersex, elderage, floor, room, bed)
		values
		(#{elderlyid},#{eldername},#{eldersex},#{elderage},#{floor},#{room},#{bed})
	</insert>

	<update id="update">
		update elderly set
		eldername=#{eldername},eldersex=#{eldersex},elderage=#{elderage},floor=#{floor},room=#{room},bed=#{bed}
		where elderlyid=#{elderlyid}
	</update>

	<delete id="delete">
		delete from elderly where elderlyid=#{elderlyid}
	</delete>

	<select id="selectByAll" resultMap="ElderlyResultMap">
		select * from elderly
	</select>

	<select id="selectById" resultMap="ElderlyResultMap">
		select * from elderly
		where
		elderlyid=#{id}
	</select>

	<select id="selectByAllWithPage" resultMap="ElderlyResultMap">
		select * from elderly
		limit #{start}, #{rows}
	</select>

	<select id="selectCountByAll" resultType="_int">
		select count(*) from
		elderly
	</select>


</mapper>