<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.checkin.mapper.IElderlyMapper">
	<!-- 老人查询基础映射，不包含关联属性 -->
	<resultMap id="ElderlyResultMap" type="Elderly">
		<id property="elderlyid" column="elderlyid" />
		<result property="eldername" column="eldername" />
		<result property="eldersex" column="eldersex" />
		<result property="elderage" column="elderage" />
		<result property="floor" column="floor" />
		<result property="room" column="room" />
		<result property="bed" column="bed" />
		<result property="photo" column="photo" />
		<result property="photoFileName" column="photofilename" />
		<result property="photoContentType" column="photocontenttype" />

	</resultMap>

	<insert id="insert" parameterType="Elderly">
		insert into elderly
		(elderlyid, eldername, eldersex, elderage, floor, room, bed)
		values
		(#{elderlyid},#{eldername},#{eldersex},#{elderage},#{floor},#{room},#{bed})
	</insert>

	<insert id="insertWithPhoto" parameterType="Elderly">
		insert into elderly
		(elderlyid, eldername, eldersex, elderage, floor, room, bed, photo,
		photofilename, photocontenttype)
		values
		(#{elderlyid},#{eldername},#{eldersex},#{elderage},#{floor},#{room},#{bed},#{photo},#{photoFileName},#{photoContentType})
	</insert>

	<update id="update">
		update elderly set
		eldername=#{eldername},eldersex=#{eldersex},elderage=#{elderage},floor=#{floor},room=#{room},bed=#{bed}
		where elderlyid=#{elderlyid}
	</update>

	<update id="updatePhoto">
		update elderly set
		photo = #{photo}, photofilename =
		#{photoFileName}, photocontenttype = #{photoContentType}
		where
		elderlyid=#{elderlyid}
	</update>

	<update id="updateWithPhoto">
		update elderly set
		eldername=#{eldername},eldersex=#{eldersex},elderage=#{elderage},floor=#{floor},room=#{room},bed=#{bed},photo
		= #{photo}, photofilename = #{photoFileName}, photocontenttype =
		#{photoContentType}
		where elderlyid=#{elderlyid}
	</update>

	<delete id="delete">
		delete from elderly where elderlyid=#{elderlyid}
	</delete>

	<select id="selectByAll" resultMap="ElderlyResultMap">
		select * from elderly
	</select>

	<select id="selectById" resultMap="ElderlyResultMap">
		select * from elderly
		where
		elderlyid=#{id}
	</select>

	<select id="selectByAllWithPage" resultMap="ElderlyResultMap">
		select * from elderly
		limit #{start}, #{rows}
	</select>

	<select id="selectCountByAll" resultType="_int">
		select count(*) from
		elderly
	</select>

	<select id="selectListByConditionWithPage"
		resultMap="ElderlyResultMap">
		select * from elderly where 1=1
		<if
			test="minAge &gt; 0 and minAge &lt;= 150 and maxAge &gt; 0 and maxAge &lt;= 150">
			and elderage &gt;= #{minAge}
			and elderage &lt;= #{maxAge}
		</if>
		<if test="floor != '所有楼层'">
			and floor = #{floor}
		</if>
		<if test="room != '所有房间'">
			and room = #{room}
		</if>
		<if test="nameKey != ''">
			and eldername like #{nameKey}
		</if>
	</select>


</mapper>