<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.checkin.mapper.IGuestMapper">
	<!-- Guest查询基础映射，不包含关联属性 -->
	<resultMap id="GuestResultMap" type="Guest">
		<id property="guestId" column="guestid" />
		<result property="num" column="num" />
		<result property="identity" column="identity" />
	</resultMap>

	<!-- Guest查询映射，包含关联属性ElderlyModel -->
	<resultMap id="GuestWithElderlyResultMap" type="Guest" extends="GuestResultMap">
		<association property="elderly" resultMap="com.hitstu.oa.checkin.mapper.IElderlyMapper.ElderlyResultMap"></association>
	</resultMap>
	
	<insert id="insert" parameterType="Guest">
		insert into guest
		(guestid, num, identity, elderlyid)
		values
		(#{guestId}, #{num}, #{identity}, #{elderly.elderlyid})
	</insert>

	<update id="update">
		update guest set
		elderlyid=#{elderly.elderlyid},num=#{num},identity=#{identity}
		where guestid=#{guestId}
	</update>

	<delete id="delete" parameterType="Guest">
		delete from guest where guestid=#{guestId}
	</delete>

	<select id="selectByAll" resultMap="GuestWithElderlyResultMap">
		select a.*,b.* from guest a inner join elderly b on a.elderlyid=b.elderlyid
	</select>

	<select id="selectById" resultMap="GuestWithElderlyResultMap">
		select a.*,b.* from guest a inner join elderly b on a.elderlyid=b.elderlyid
		where guestid=#{guestId}
	</select>
	
	<select id="selectByAllWithPage" resultMap="GuestResultMap">
		select * from guest
		limit #{start}, #{rows}
	</select>
	
	<select id="selectCountByAll" resultType="_int">
		select count(*) from guest
	</select>
	
	<select id="selectListByConditionWithPage" resultMap="GuestWithElderlyResultMap">
		select * from guest a left join elderly b on a.elderlyid=b.elderlyid where 1=1
		<if
			test="minNum &gt; 0 ">
			and num &gt;= #{minNum}
		</if>
		<if
			test="maxNum &gt; 0 ">
			and num &lt;= #{maxNum}
		</if>
		<if test="elderlyid != ''">
			and a.elderlyid = #{elderlyid}
		</if>
		<if test="nameKey != '' and elderlyid==''">
			and eldername like #{nameKey}
		</if>
	</select>
	
	
	
	
	
</mapper>