<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.checkin.mapper.IRoomMapper">
	<!-- 房间查询基础映射，不包含关联属性 -->
	<resultMap id="RoomResultMap" type="Room">
		<id property="roomId" column="roomid" />
		<result property="floor" column="floor" />
		<result property="bedNum" column="bednum" />
	</resultMap>

	<insert id="insert" parameterType="Room">
		insert into room
		(roomid, floor, bednum)
		values
		(#{roomId}, #{floor}, #{bedNum})
	</insert>

	<update id="update">
		update room set
		floor=#{floor},bednum=#{bedNum}
		where roomid=#{roomId}
	</update>

	<delete id="delete" parameterType="Room">
		delete from room where roomid=#{roomId}
	</delete>

	<select id="selectByAll" resultMap="RoomResultMap">
		select * from room
	</select>

	<select id="selectById" resultMap="RoomResultMap">
		select * from room
		where
		roomid=#{roomId}
	</select>

	<select id="selectByAllWithPage" resultMap="RoomResultMap">
		select * from room
		limit #{start}, #{rows}
	</select>
	
	<select id="selectCountByAll" resultType="_int">
		select count(*) from room
	</select>
	
</mapper>