<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 全局参数配置 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<package name="com.hitstu.oa.hr.model" />
		<package name="com.hitstu.oa.checkin.model" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3319/tendays?useUnicode=true&amp;characterEncoding=UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="654321" />
				<property name="poolMaximumActiveConnections" value="2" />
			</dataSource>
		</environment>

		<environment id="product">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3319/tendays?useUnicode=true&amp;characterEncoding=UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="654321" />
				<property name="poolMaximumActiveConnections" value="2" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapping/hr/IDepartmentMapper.xml" />
		<mapper resource="mapping/checkin/IElderlyMapper.xml" />
	</mappers>
</configuration>