<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.store.mapper.IPurchaseMapper">
	<!-- 货物购买信息查询基础映射，不包含关联属性 -->
	<resultMap id="PurchaseResultMap" type="Purchase">
		<id property="goodsid" column="goodsid" />
		<result property="date" column="date" />
		<result property="puramount" column="puramount" />

	</resultMap>

	<insert id="insert" parameterType="Purchase">
		insert into purchase
		(goodsid,
		date, puramount)
		values
		(#{goodsid},#{date},#{puramount})
	</insert>

	<update id="update">
		update purchase set
		puramount=#{puramount}
		where
		goodsid=#{goodsid} and date=#{date}
	</update>

	<delete id="delete">
		delete from purchase where goodsid=#{goodsid} and
		date=#{date}
	</delete>

	<select id="selectByAll" resultMap="PurchaseResultMap">
		select * from purchase
	</select>

	<select id="selectByIdAndDate" resultMap="PurchaseResultMap">
		select * from purchase
		where
		goodsid=#{id} and date=#{date}
	</select>

	<select id="selectByAllWithPage" resultMap="PurchaseResultMap">
		select * from
		purchase
		limit #{start}, #{rows}
	</select>

	<select id="selectCountByAll" resultType="_int">
		select count(*) from
		purchase
	</select>


</mapper>