<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitstu.oa.hr.mapper.IEmployeeMapper">

	<resultMap id="EmployeeResultMap" type="Employee">
		<id property="id" column="empid" />
		<result property="name" column="empname" />
		<result property="sex" column="empsex" />
		<result property="age" column="empage" />
		<result property="fired" column="fired" />
		<result property="leave" column="vacation" />
	</resultMap>
	
    <resultMap type="Employee" id="EmployeeResultMapWithDepartment" 
    extends="EmployeeResultMap">
       <association property="department" 
       resultMap="com.hitstu.oa.hr.mapper.IDepartmentMapper.DepartmentResultMap"></association>
    </resultMap>

	<insert id="insert" parameterType="Employee">
		insert into employee values 
		(#{id}, #{department.deptid}, #{name}, #{sex}, #{age}, #{fired}, #{leave})
	</insert>

	<update id="update" parameterType="Employee">
		update employee set deptid = #{department.deptid}, empname = #{name}, empsex = #{sex}, empage = #{age}, fired = #{fired}, vacation = #{leave} where empid = #{id}
	</update>

	<delete id="delete" parameterType="Employee">
		delete from employee where empid = #{id}
	</delete>

	<select id="selectByAll" resultMap="EmployeeResultMap">
		select * from employee
	</select>

	<select id="selectById" resultMap="EmployeeResultMap">
		select * from employee where empid = #{id}
	</select>

	<select id="selectByAllWithPage" resultMap="EmployeeResultMap">
		select * from employee
		limit #{start}, #{rows}
	</select>

	<select id="selectCountByAll" resultType="_int">
		select count(*) from employee
	</select>
	
	<select id="selectCountByDepartment" resultType="_int">
	   select count(*) from employee where deptid = #{deptid}
	</select>
    
    <select id="selectByIdWithDepartment" resultMap="EmployeeResultMapWithDepartment">
        select a.*, b.* from employee a inner join department b on a.deptid = b.deptid
        where a.empid = #{id}
    </select>
    
    <select id="selectByAllWithDepartment" resultMap="EmployeeResultMapWithDepartment">
        select a.*, b.* from employee a left outer join department b on a.deptid = b.deptid
    </select>
    
    <select id="selectByAllWithDepartmentWithPage" resultMap="EmployeeResultMapWithDepartment">
        select a.*, b.* from employee a inner join department b on a.deptid = b.deptid
        limit #{start}, #{rows}
    </select>
    
    <select id="selectListByConditionWithDepartmentWithPage" resultMap="EmployeeResultMapWithDepartment">
        select a.*,b.* from employee a inner join department b on a.deptid = b.deptid 
        <where> 1 = 1

        <if test="lowAge &gt; 0 and highAge &gt; 0 and highAge &gt;= lowAge">
            and a.empage &gt;= #{lowAge}
            and a.empage &lt;= #{highAge}
        </if>
        
        <if test="highAge &gt; 0 and lowAge &lt;= 0">
            and a.empage &lt;= #{highAge}
        </if>
        
        <if test="highAge &lt;= 0 and lowAge &gt; 0">
            and a.empage &gt;= #{lowAge}
        </if>
        
        <if test="nameKey != null and nameKey != '' ">
            and a.empname like #{nameKey}
        </if>
        
        <if test="sex != null and sex != ''">
            and a.empsex = #{sex}
        </if>
        
        <if test="fired != null and fired != ''">
            and a.fired = #{fired}
        </if>
        
        <if test="leave != null and leave != ''">
            and a.vacation = #{leave}
        </if>
        
        <if test="deptid != null and deptid != ''">
            and b.deptid= #{deptid}
        </if>
        </where>
        limit ${start}, #{rows}
    </select>
    
    <select id="selectCountByCondition" resultType="_int">
        select count(*) from employee a inner join department b on a.deptid = b.deptid 
        <where> 1= 1

        <if test="lowAge &gt; 0 and highAge &gt; 0 and highAge &gt;= lowAge">
            and a.empage &gt;= #{lowAge}
            and a.empage &lt;= #{highAge}
        </if>
        
        <if test="highAge &gt; 0 and lowAge &lt;= 0">
            and a.empage &lt;= #{highAge}
        </if>
        
        <if test="highAge &lt;= 0 and lowAge &gt; 0">
            and a.empage &gt;= #{lowAge}
        </if>
        
        <if test="nameKey != null and nameKey != '' ">
            and a.empname like #{nameKey}
        </if>
        
        <if test="sex != null and sex != ''">
            and a.empsex = #{sex}
        </if>
        
        <if test="fired != null and fired != ''">
            and a.fired = #{fired}
        </if>
        
        <if test="leave != null and leave != ''">
            and a.vacation = #{leave}
        </if>
        
        <if test="deptid != null and deptid != ''">
            and b.deptid= #{deptid}
        </if>
        </where>
    </select>
</mapper>